
.bg-custom {
    background-color: #f3ac49
}

.jumbotronImg {
    display: inline-block;
    clip-path: circle(50% at 50% 50%);
}

#buildingImg {
    z-index: 2;
    position: relative;
    background-color: #d5edf6;
    transition: .4s;
    transition-delay: .3s;
    clip-path: polygon(-500px 0px, 0px 500px, 500px 0px, 0px -500px);
}

#buildingImg:hover {
    transition: .4s;
    clip-path: polygon(-500px 0px, 50px 550px, 550px 50px, 0px -500px);
}

#codeImg:hover + #buildingImg {
    transition: .4s;
    clip-path: polygon(-500px 0px, -150px 350px, 350px -150px, 0px -500px);
}

#codeImg {
    z-index: 1;
    top: 0;
    position: absolute;
    background-color: #a5d9e9;
    transition: 1s;
}
